:root {
  --color-primary: #F15224;
  --color-background: #CFD5DF;
  --color-white: #ffffff;
  --color-title: #333333;
  --color-lighter: #F1F4FD;
  --color-text-in: #777777;
  --color-light: #cfd5df33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html, #root, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}

*, body, input, button {
  font-family: 'Poppins', sans-serif;
}